html {
  margin:0;
  background:rgb(49,58,111);
  font-family: "Lato", sans-serif;
  color: white;
  height: 350px;
  width: 350px;
}
body{
  margin:0;
}
#header{
  background-color: #F6F6F6;
  padding: 50px;
  width: 100%;
}